.tema{
    margin: 15% 5% 4% 5%;
    padding:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.boks_t{
    width:100%;
    padding:5%;
    display: flex;
    flex-direction:column;
    border-radius: 30px;
}

.opgavelink{
    
    text-decoration: none;
    font-family:teacher;
    font-size: 30px;
    background-color: white;
    padding:10px 15px;
    border: dashed 2px;
    cursor: pointer;
}

.link1{
    color:#9fc5e8;
    border-color:#9fc5e8;
}

.link1:hover{
    color:#304d67;
    border-color:#304d67;
}

.link2{
    color:#b4a7d6;
    border-color:#b4a7d6;
}

.link2:hover{
    color:#4c3c76;
    border-color:#4c3c76;
}

.link3{
    color:#b6d7a8;
    border-color:#b6d7a8;
}

.link3:hover{
    color:#497a35;
    border-color:#497a35;
}

.link4{
    color:#ffe599;
    border-color:#ffe599;
}

.link4:hover{
    color:#a48630;
    border-color:#a48630;
}





.linky{
    display:flex;
    flex-direction: row;
}

/* farver */
.tema2{
    background-color:#9fc5e8;
}

.tema3{
    background-color:#b4a7d6;
}

.tema4{
    background-color:#b6d7a8;
}

.tema5{
    background-color:#ffe599;
}

.tema6{
    background-color:#ea9999;
}

.blå{
    color:#304d67;
}

.lilla{
    color:#4c3c76;
}

.grøn{
    color:#497a35;
}

.gul{
    color:#a48630;
}

.rød{
    color:#883232;
}


@media only screen and (min-width: 640px){
    .tema{
        margin: 4% 5%;
    padding:0 auto;
    }
    .boks_t{
        width:60%;
        padding:2%;
    }

    .grid-1_1{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:1em;
    }

    .margin_bot{
        margin-bottom:2em;
    }
    .topmargin{
        margin-top: 2em;
    }

    
}
@media only screen and (min-width: 1460px){
    .tema{
        max-width: 1400px;
        margin: 4% auto 0 auto;
        padding:0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boks_t{
        width:50%;
        padding:2%;
    }

    .opgave_tekst{
        gap:2em;
        margin-right:1em;
    }

    .flexy{
        display: flex;
        justify-content: space-around;
        max-height: 395px;
    }
    .lille{
        height:100%;
    }
    .pitch{
        height:90%;
        justify-self: center;
    }

    .ux{
        height:70%;
        justify-self: center;
    }
}