@media (min-width: 800px) {
  body {
    background-image: url("../images/forside.png");
    aspect-ratio: 1920/1228;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1.5%;
    margin-right: 2.9%;
    border-bottom: 0;
    padding: 0;
  }
  nav ul {
    display: flex;
    gap: 2em;
    width: 100%;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 0;
  }

  nav a {
    position: relative;
    z-index: 1;
  }

  nav a:after {
    display: block;
    position: absolute;
    border-radius: 25px;
    top: -30%;
    left: -18%;
    margin: auto;
    width: 135%;
    content: ".";
    color: transparent;
    background: rgba(239, 230, 223, 0.2);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  nav a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 130%;
    transition: all 0.6s ease;
  }
  .active:after {
    opacity: 1;
    visibility: visible;
    height: 130%;
  }

  main {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .baggrund {
    width: 100%;
    background-color: var(--clr-overlay);
  }
  hr {
    width: 70%;
    border: 0.5px solid rgba(112, 112, 112, 0.4);
    margin-left: 0%;
  }

  .indhold {
    max-width: 1200px;
    margin: 0 auto;
  }

  h3 {
    padding-top: 7%;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
  }

  #andensektion,
  #tredjesektion {
    padding-top: 13%;
    padding-right: 11%;
    padding-left: 9%;
    padding-bottom: 5%;
    background-color: white;
    margin-bottom: 7%;
  }
  #andensektion h4,
  #tredjesektion h4 {
    font-size: 18px;
  }

  .box {
    padding: 5%;
    margin-top: -3.5%;
    margin-right: -5.5%;
    margin-left: -3.5%;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-left: 1.5%;
    padding-right: 2.9%;
  }
}
