.falling{
    animation: falling 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
}

@keyframes falling{
    0%{
        translate: 0 -250%;
    }

    100%{
        translate: 0 250%
    }
}



@keyframes bouncing{

    0% { transform: translateY(150%); } 
    100% { transform: translateY(0); }
 }
.bouncing { 
    animation: bouncing 0.8s infinite alternate; 
} 


.drop{
    animation: drop 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    
}

@keyframes drop{
    0%{
        translate: 0 -250%;
    }


    100%{
        translate: 0 150%;
    }
}

.pattern{
    animation: pattern 2s;
    animation-iteration-count: infinite;
    
}

@keyframes pattern{
    0%{
        translate: 0 -150%;
    }

    25%{
        translate: 150% 0;
    }

    50%{
        translate: 0 150%;
    }

    75%{
        translate: -150% 0;
    }
    100%{
        translate: 0 -150%;
    }
}

.zoom_out{
    animation: zoom_out 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes zoom_out{
    0%{
        scale: 1;
    }

    100%{
        scale: 0;
    }
}

.zoom_in{
    animation: zoom_in 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes zoom_in{
    0%{
        scale: 1;
    }

    100%{
        scale: 10;
    }
}

.fade_out{
    animation: fade_out 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fade_out{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.fade_in{
    animation: fade_in 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fade_in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.rotation{
    animation: rotation 3s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out; */
}

@keyframes rotation{
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
}

.rotation2{
    animation: rotation2 3s;
    animation-iteration-count: infinite;
    translate: 100% 100%;
    transform-origin: -50% -50%;
}

@keyframes rotation2{
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
}

.glow{
    animation: glow 3s;
    animation-iteration-count: infinite;
   
}

@keyframes glow{
    0%,
    100%{ filter:drop-shadow( 0px 0px -1px yellow)}
    50%{ filter:drop-shadow( 0px 0px 30px yellow)}
    
    /* 0%,
    100% {
      filter: brightness(100%) drop-shadow(0 0 -1px rgb(255, 251, 0));
    }
  
    50% {
      filter: brightness(110%) drop-shadow(0 0 40px rgb(255, 251, 0));
    } */
    
}

.blur_to_gray{
    translate: -150% 0;
    animation: blur_to_gray 3s;
    animation-iteration-count: infinite;
}

@keyframes blur_to_gray{
    0% {

    }

    50%{
        translate: 150% 0;
        filter:blur(5px)grayscale(100%);
        
    }
    100%{
        translate: -150% 0;
    }
}

.pulse{
    animation: pulse 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulse{
    0% {

    }
50%{
    scale:1.04;
}

100%{
    
}
}

.overshoot{
animation: overshoot 1s;
animation-timing-function:cubic-bezier(.25,1.68,1,1.15);
animation-fill-mode: forwards;
}

@keyframes overshoot{
0%{
    translate: -150% 0;

}
100%{
    translate:150% 0;
} 
}

.bounce{
    animation: bounce 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes bounce{
    0%{
        translate: -150% -50%;

    }

    10%{
        translate: -100% 150%;
        
    }
    20%{
        translate: -50% 20%;
        
    }
    30%{
        translate: -20% 150%;
    }

    40%{
        translate: 10% 100%;
        rotate: 90deg;
    }

    50%{
        translate:40% 150%;
    }

    60%{
        translate: 50% 120%;
    }

    70%{
        translate:65% 150%;
    }
    80%{
        translate:75% 140%;
        rotate: 140deg;
    }
    100%{
        translate: 80% 150%;
        rotate: 140deg;
        
    }
}

.squash{
    animation:squash 2s infinite cubic-bezier(0.31, 0.6, 0.75, 0.44);
    
}

@keyframes squash{
    /* 0%{
        translate: 0 -150%;
    }

    25%{
        translate: 150% 0;
    }

    40%{scale:1;}

    49%{
        scale:1 0.75;
    }
    50%{
        translate: 0 150%;
    }

    56%{
        scale:1 1;
    }

    75%{
        translate: -150% 0;
    }
    100%{
        translate: 0 -150%;
    } */

    0% {
        transform: translate(0, -165%) scale(1, 0.8);
      }
    
      2% {
        transform: translate(0, -165%) scale(1, 1);
      }
    
      22% {
        transform: translate(145%, 0) scale(1, 1);
      }
    
      25% {
        transform: translate(150%, 0) scale(0.8, 1);
      }
    
      28% {
        transform: translate(145%, 0) scale(1, 1);
      }
    
      48% {
        transform: translate(0, 145%) scale(1, 1);
      }
    
      50% {
        transform: translate(0, 150%) scale(1, 0.8);
      }
    
      52% {
        transform: translate(0, 145%) scale(1, 1);
      }
    
      73% {
        transform: translate(-165%, 0) scale(1, 1);
      }
    
      75% {
        transform: translate(-170%, 0) scale(0.8, 1);
      }
    
      77% {
        transform: translate(-165%, 0) scale(1, 1);
      }
    
      98% {
        transform: translate(0, -165%) scale(1, 1);
      }
    
      100% {
        transform: translate(0, -165%) scale(1, 0.8);
      }
}